
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ECO Online University</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            
            <table align="center" class="spacer float-center"><tbody><tr><td height="30" style="font-size:30px;line-height:30px;">&nbsp;</td></tr></tbody></table> 
            
            <table align="center" class="container radius p-x float-center"><tbody><tr><td>
            
              <table class="spacer"><tbody><tr><td height="16" style="font-size:16px;line-height:16px;">&nbsp;</td></tr></tbody></table> 
            
              <center>
                <img src="https://eco-academy-storage.sfo3.digitaloceanspaces.com/public/ef5cb78d029227a2cdca59b8fe4c3b8d.png" alt align="center" class="float-center eco-logo-medium">
              </center>
            
              <table class="spacer"><tbody><tr><td height="30" style="font-size:30px;line-height:30px;">&nbsp;</td></tr></tbody></table> 
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
                  <p><strong>Hola <%= v_user_name %>,</%=></strong></p>
                </th>
<th class="expander"></th></tr></tbody></table></th>
              </tr></tbody></table>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
                  <p class="text-color-l-gray">
                    La calificación obtenida en el curso <%= v_course_name %> no es suficiente para aprobar y obtener el certificado/diploma.
                  </%=></p>
                </th>
<th class="expander"></th></tr></tbody></table></th>
              </tr></tbody></table>
              <table class="row primary"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
                  <table class="callout"><tbody><tr><th class="callout-inner">
                    <p class="text-center">Calificación: <%= v_last_score_obtained %> de <%= v_course_passing_score %></%=></%=></p>
                  </th><th class="expander"></th></tr></tbody></table>
                </th>
<th class="expander"></th></tr></tbody></table></th>
              </tr></tbody></table>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
                    <p class="text-color-l-gray">Sentimos que no hayas aprobado el curso, pero te otorgamos una constancia de participación.</p>
                </th>
<th class="expander"></th></tr></tbody></table></th>
              </tr></tbody></table>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
                  <strong>
                    <p class="text-color-l-gray">Atentamente,</p>
                  </strong>
                </th>
<th class="expander"></th></tr></tbody></table></th>
              </tr></tbody></table>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tbody><tr><th>
                    <p class="text-color-l-gray"><strong>ECO, Corporación Empresarial México SA de CV</strong></p>
                </th>
<th class="expander"></th></tr></tbody></table></th>
              </tr></tbody></table>
            </td></tr></tbody></table>
            <table align="center" class="spacer float-center"><tbody><tr><td height="30" style="font-size:30px;line-height:30px;">&nbsp;</td></tr></tbody></table> 
            
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

